<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.admin.model.dao.ProductCarbonDao">

    <select id="selectAllCarbon" resultType="kr.co.iei.admin.model.vo.ProductCarbon">
        select
            product_id,
            product_material,
            product_emissions,
            product_desc,
            product_img
        from carbon_definition_tbl
        ORDER BY 1
    </select>

    <insert id="insertContainer" parameterType="productCarbon">
        insert into carbon_definition_tbl (
            product_id, 
            product_material, 
            product_emissions, 
            product_desc, 
            product_img
        ) values (
            product_seq.nextval, 
            #{productMaterial}, 
            #{productEmissions}, 
            #{productDesc}, 
            #{productImg}
        )
    </insert>

    <update id="updateContainer" parameterType="productCarbon">
        update carbon_definition_tbl
        set 
            product_material = #{productMaterial},
            product_emissions = #{productEmissions},
            product_desc = #{productDesc}
            <if test="productImg != null">
                , product_img = #{productImg}
            </if>
        where product_id = #{productId}
    </update>

    <delete id="deleteCarbon" parameterType="java.lang.Integer">
        delete FROM carbon_definition_tbl 
        where product_id = #{productId}
    </delete>

</mapper>