<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.cs.model.dao.CSDao">

<select id="selectAllList" resultType="faq">
	select * from faq_tbl
	
		<if test="faq_category == 1">
		where faq_category = #{faqCategory}
		</if>
	
	order by faq_no asc

</select>




</mapper>
