<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.iei.member.model.dao.MemberDao">

	<select id="loginMember" resultType="member">
		SELECT *
		FROM MEMBER_TBL
		WHERE MEMBER_ID = #{memberId}

		<if test='!memberId.equals("admin1111")'>
			AND MEMBER_GRADE = #{memberGrade}
		</if>


	</select>

	<select id="findId" resultType="string">
		SELECT MEMBER_ID
		FROM MEMBER_TBL
		WHERE MEMBER_NAME = #{memberName}
		AND MEMBER_EMAIL = #{memberEmail}
	</select>

	<update id="resetPassword">
		UPDATE MEMBER_TBL
		SET MEMBER_PW = #{memberPw}
		WHERE
		MEMBER_ID = #{memberId}
	</update>

	<select id="checkMember" resultType="int">
		SELECT COUNT(*)
		FROM
		MEMBER_TBL
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_EMAIL =
		#{memberEmail}
	</select>

	<select id="selectOneMember" resultType="member">
		select * from member_tbl
		where member_id = #{memberId}
	</select>

	<update id="updatePassword">
		UPDATE member_tbl
		SET member_pw = #{encodedNewPw}
		WHERE member_id = #{memberId}
	</update>

	<update id="updateProfile">
		UPDATE member_tbl
		SET
		member_name = #{memberName},
		member_phone =
		#{memberPhone}

		<if test="memberThumb != null">
			, member_thumb = #{memberThumb}
		</if>

		WHERE member_id = #{memberId}
	</update>


	<select id="selectAllMember" resultType="member">
		SELECT *
		FROM member_tbl
	</select>

	<insert id="insertUser">
		INSERT INTO MEMBER_TBL (
		MEMBER_ID, MEMBER_PW,
		MEMBER_NAME, MEMBER_PHONE, MEMBER_THUMB,
		MEMBER_EMAIL, MEMBER_ADDRCODE,
		MEMBER_ADDR, MEMBER_DETAIL_ADDR,
		MEMBER_GRADE, MEMBER_POINT,
		ENROLL_DATE, MEMBER_STATUS
		) VALUES (
		#{memberId}, #{memberPw},
		#{memberName}, #{memberPhone}, NULL,
		#{memberEmail}, #{memberAddrcode},
		#{memberAddr}, #{memberDetailAddr},
		1, 0, SYSDATE, 1
		)
	</insert>

	<select id="storeDupCheck" parameterType="String"
		resultType="member">
		SELECT * FROM MEMBER_TBL WHERE STORE_OWNER_NO =
		#{storeOwnerNo}
	</select>
	<insert id="insertManager" parameterType="member">
		INSERT INTO MEMBER_TBL
		(
		MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_PHONE,
		MEMBER_EMAIL,
		STORE_OWNER_NO, STORE_NAME, OPENING_DATE, MEMBER_GRADE
		) VALUES (
		#{memberId}, #{memberPw}, #{memberName}, #{memberPhone},
		#{memberEmail}, #{storeOwnerNo}, #{storeName}, #{openingDate},
		#{memberGrade}
		)
	</insert>
	<select id="emailDupCheck" resultType="member">
		select * from member_tbl
		where member_email=#{memberEmail}
	</select>

	<update id="deleteMember">
		update member_tbl
		set member_status = 2
		WHERE MEMBER_ID
		= #{memberId}
	</update>
	<select id="getTotalCarbonPoint" parameterType="string"
		resultType="int">
		SELECT
		NVL(SUM(get_point), 0)
		FROM order_tbl
		WHERE member_id = #{memberId}
	</select>
	<select id="getCommunityTotalCarbon" resultType="int">
		SELECT NVL(SUM(get_point), 0) FROM order_tbl
	</select>


	<update id="updateAddress" parameterType="member">
		UPDATE MEMBER_TBL
		SET
		MEMBER_ADDRCODE = #{memberAddrcode},
		MEMBER_ADDR = #{memberAddr},
		MEMBER_DETAIL_ADDR = #{memberDetailAddr}
		WHERE MEMBER_ID = #{memberId}
	</update>

	<select id="checkOrderOwner" resultType="int">
		SELECT COUNT(*)
		FROM order_tbl
		WHERE order_id = #{orderId} AND member_id = #{memberId}
	</select>

	<select id="isAlreadyReviewed" resultType="int">
		SELECT COUNT(*)
		FROM review_tbl
		WHERE order_id = #{orderId}
	</select>

	<insert id="insertReview" parameterType="kr.co.iei.member.model.vo.Review">
    INSERT INTO review_tbl (
        order_id,          member_id,
        review_thumb,      review_content,
        review_rating,
        review_date,
        store_id           ) VALUES (
        #{orderId},
        #{memberId},
        #{reviewThumb, jdbcType=VARCHAR}, #{reviewContent},
        #{reviewRating},
        SYSDATE,
        #{storeId}
    )
</insert>





</mapper>